<%- include('partials/header', {title: title}) %>

<h1 class="mb-4">TOEIC Speaking Practice</h1>

<div class="row mb-4">
  <div class="col-md-3">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Questions 1-2: Read a Text Aloud</h5>
      </div>
      <div class="card-body">
        <p>For Questions 1 and 2, you will read a short text aloud. The text will be written in common everyday language and will deal with familiar topics.</p>
        <p>You will have 45 seconds to prepare and 45 seconds to read the text aloud.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Questions 1-2, you should be able to:</p>
          <ul>
            <li>Pronounce common words correctly</li>
            <li>Use correct intonation when reading sentences</li>
            <li>Use correct stress on syllables and words</li>
          </ul>
        </div>
        <a href="/speaking/read-aloud" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Question 3: Describe a Photo</h5>
      </div>
      <div class="card-body">
        <p>For Question 3, you will look at a photo and describe what you see. You will have 30 seconds to prepare and 45 seconds to speak.</p>
        <p>Your response should include the main elements of the photo and describe the scene in detail.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Question 3, you should be able to:</p>
          <ul>
            <li>Identify the important features of a photo</li>
            <li>Describe a photo using appropriate vocabulary</li>
            <li>Speak clearly with proper pronunciation and intonation</li>
          </ul>
        </div>
        <a href="/speaking/describe-photo" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Questions 4-6: Personal Experience</h5>
      </div>
      <div class="card-body">
        <p>For Questions 4-6, you will answer three related questions about a personal experience or familiar topic. There is no preparation time.</p>
        <p>For Questions 4-5, you will have 15 seconds to answer each question. For Question 6, you will have 30 seconds to answer.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Questions 4-6, you should be able to:</p>
          <ul>
            <li>Express your opinion clearly, supporting it with details</li>
            <li>Understand the main topic and identify key words</li>
            <li>Select and use appropriate vocabulary</li>
            <li>Provide details and explanations about your opinion</li>
          </ul>
        </div>
        <a href="/speaking/personal-questions" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Questions 7-9: Schedule Questions</h5>
      </div>
      <div class="card-body">
        <p>For Questions 7-9, you will be shown a schedule or agenda followed by three questions. You will have 30 seconds to read the information.</p>
        <p>You will have 15 seconds to respond to Questions 7 and 8, and 30 seconds to respond to Question 9.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Questions 7-9, you should be able to:</p>
          <ul>
            <li>Locate relevant information on a written schedule</li>
            <li>Summarize connected pieces of information</li>
            <li>Understand embedded questions</li>
            <li>Convey information clearly and coherently</li>
          </ul>
        </div>
        <a href="/speaking/schedule-questions" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-3 mx-auto">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Question 10: Respond to a Voicemail</h5>
      </div>
      <div class="card-body">
        <p>For Question 10, you will hear a voicemail message that describes a problem and you will be asked to suggest a solution.</p>
        <p>You will have 30 seconds to prepare your answer and 60 seconds to speak.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Question 10, you should be able to:</p>
          <ul>
            <li>Understand what a speaker is asking for</li>
            <li>Summarize a problem clearly and briefly</li>
            <li>Come up with a solution to a problem</li>
            <li>Organize your ideas while speaking</li>
            <li>Select and use appropriate vocabulary</li>
          </ul>
        </div>
        <a href="/speaking/voicemail-problem" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
    <h5 class="card-title mb-0">Tips for Speaking Section</h5>
  </div>
  <div class="card-body">
    <h6>A Good Response</h6>
    <p>A good response will:</p>
    <ul class="mb-3">
      <li>Reflect an accurate pronunciation of the words</li>
      <li>Contain smooth connections between words</li>
      <li>Contain accurate phrasing of groups of words and "chunks" of language</li>
      <li>Include correct stress for emphasis, new information, and contrast</li>
      <li>Include appropriate intonation to indicate the attitude or tone of the text</li>
    </ul>
    
    <h6>Things to Remember</h6>
    <ol>
      <li>Scan the entire text before reading so you have an idea of the content</li>
      <li>Read clearly and in a voice that can be easily heard</li>
      <li>Remember to pause for commas and periods</li>
      <li>Be sure to use intonation that matches the meaning of the sentences</li>
      <li>Be careful to pronounce the words correctly</li>
    </ol>
  </div>
</div>

<%- include('partials/footer') %>