<%- include('partials/header', {title: title}) %>

<h1 class="mb-4">TOEIC Writing Practice</h1>

<div class="row mb-4">
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Questions 1-5: Write a Sentence Based on a Picture</h5>
      </div>
      <div class="card-body">
        <p>For each photo, you will be given two words, and you will write a sentence about the photo using the two words.</p>
        <p>You will have eight minutes to complete this part of the test, and you will be able to move at your own pace.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Questions 1-5, you should be able to:</p>
          <ul>
            <li>Use correct word order</li>
            <li>Write sentences with one clause</li>
            <li>Write sentences with two clauses</li>
            <li>Use adjectives, adverbs, and prepositions correctly</li>
            <li>Use subordinating conjunctions correctly</li>
            <li>Write sentences that are relevant to the photos</li>
          </ul>
        </div>
        <a href="/writing/exercise" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Questions 6-7: Respond to an Email</h5>
      </div>
      <div class="card-body">
        <p>For each email, you will be given specific tasks to address in your response, such as asking questions, making requests, or providing information.</p>
        <p>You will have ten minutes to read each email and write your response.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Questions 6-7, you should be able to:</p>
          <ul>
            <li>Organize your ideas in writing</li>
            <li>Use appropriate connecting words</li>
            <li>Write a variety of sentence types</li>
            <li>Write grammatically correct sentences</li>
            <li>Use appropriate vocabulary</li>
            <li>Respond to the given tasks</li>
          </ul>
        </div>
        <a href="/writing/email-exercise" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card mb-4">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title mb-0">Question 8: Write an Opinion Essay</h5>
      </div>
      <div class="card-body">
        <p>You will be asked to write an essay in which you explain your opinion about an issue. You will have to state your opinion and then support it with specific reasons and examples.</p>
        <p>You will have 30 minutes to plan and write your essay of about 300 words.</p>
        <div class="alert alert-light border mt-3">
          <h6>Targeted Skills</h6>
          <p>In order to correctly respond to Question 8, you should be able to:</p>
          <ul>
            <li>Express your opinion in a thesis statement</li>
            <li>Develop paragraphs that support your thesis</li>
            <li>Connect your ideas with transition words</li>
            <li>Write grammatically correct sentences</li>
            <li>Use appropriate and varied vocabulary</li>
          </ul>
        </div>
        <a href="/writing/essay-exercise" class="btn btn-primary">Start Exercise</a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header bg-info text-white">
    <h5 class="card-title mb-0">Tips for Writing Section</h5>
  </div>
  <div class="card-body">
    <h6>Question Types</h6>
    <p>You will be given a pair of words for each photo. The two words will be some combination of the following:</p>
    <ul class="mb-3">
      <li>Noun</li>
      <li>Preposition</li>
      <li>Verb</li>
      <li>Coordinating conjunction</li>
      <li>Adjective</li>
      <li>Subordinating conjunction</li>
      <li>Adverb</li>
    </ul>
    
    <h6>A Good Response</h6>
    <p>A good response uses the two provided words correctly in terms of both grammatical structure and word meaning and is relevant to the photo.</p>
    
    <h6>Things to Remember</h6>
    <ol>
      <li>Begin by thinking about how you can use the two words to describe something in the photo.</li>
      <li>Decide what your subject and main verb will be. These may or may not be one or both of the words provided.</li>
      <li>Nouns will always be provided in the singular form, and verbs will always be provided in the base form. You can change these forms if you want.</li>
      <li>Make sure your sentence is grammatically correct.</li>
      <li>Check your spelling and punctuation.</li>
      <li>Practice regularly to improve your speed and accuracy.</li>
    </ol>
  </div>
</div>

<%- include('partials/footer') %>